* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: News Gothic Light;
    src: url("./fonts/News\ Gothic\ Light.otf");
}
/* font-family: News Gothic Light; */

#section-blog {
  width: 72%;

  height: 2650px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: News Gothic Light;
}
.blog-left {
  width: 79%;
  height: 2650px;
  font-family: News Gothic Light;
}
.blog-right {
  width: 20%;
  height: 1500px;
  font-family: News Gothic Light;
}
.blog-left-img {
  width: 100%;
  height: 600px;
}
.blog-icons {
  font-size: 13px;
}
.more {
  margin: 20px 400px;
}
.more-ul {
  display: flex;
}
.more-ul li {
  padding-right: 20px;
  list-style: none;
  padding-left: 20px;
  font-size: large;
}
.more-ul li a {
  text-decoration: none;
  color: black;
}
.more-li {
  border-radius: 1000px;
  background: #2bbef9;
}
.search-blog
{
    position: relative;
}
.right-icon {
position: absolute;
right: 20px;
font-size: small;
}
.populyar{
width: 100%;
height: 300px;
border: 1px solid silver;


}
.populyar-product{
display: flex;

}
.populyar-img{
width: 100%;
height: 100%;
background-color: blueviolet;
border-radius: 100%;
border: none;

}
.populyar-img img{
border-radius: 100%;
}
.populyar-product{
width: 100%;
height: 30%;
padding: 15px 15px 15px 15px;
position: relative;

}
.populyar-text{
font-size: 12px;

}
.subb{
width: 20px;
height: 20px;
position: absolute;
background-color: #2bbef9;
border-radius: 100%;
text-align: center;
font-size: small;
color: white;
left: 60px;
}
.social-media{
width: 100%;
height: 300px; 
padding-top: 15px;
}
.social-icon{
width: 100%;
height: 50px;
padding-top: 8px;
margin-top: 3px;
color: white;
display: flex;
font-size: small;
}
.fb{
background-color: #3b5998;

}
.tw{

    background-color:  #1da1f2;;
}
.pi{
    background-color: #e60023;;
}
.li{
    background-color: #0077b5;
}
.red{

    background-color: #ff4500;
}
.animation{
    padding-top: 20px;
    color:white ;
    margin-top: 50px;
width: 100%;
height:400px ;

}
.animation-happy{
width: 100%;
height: 80%;
}
.tags{
width: 100%;
height: 300px;



}
.right-class{
width: 200px ;
height: 200px;
background-color: white;
border: 1px solid silver;
margin-left: 20px;
padding: 1px 1px 1px 1px;
}