*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face {
    font-family: News Gothic Light;
    src: url("./fonts/News\ Gothic\ Light.otf");
}
 body{
height: 10000px;

}

.pandemiya
{
    width: 100%;
    height: 40px;
    background-color: #233a95;
    text-align: center;
    padding-top: 5px;
    font-family: News Gothic Light;
    font-size: small;
    max-width: 1800px;
}
.pandemiyamessage{
color: aliceblue;
}
.my-nav{
    border-bottom: 0.2px solid silver;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: News Gothic Light;
    font-size: small;
    text-align: center;
    padding-top: 5px;
    opacity: 0.9;
    width: 100%;
    }
.nav-left .my-ul li{
list-style: none;
margin-left: 10px;
}
.nav-right{
margin-right: 120px;

}
.my-li{
list-style: none;
padding-left: 9px;
padding-right: 5px;
border-left: 0.5px solid silver;
}
.my-ul li a {
  color: black;
  opacity: 0.8;
    text-decoration: none;
 }
.my-ul li a:hover {
color: rgb(0, 153, 255);
 }
 #num:hover{
text-decoration: underline;
 }
 #language{
position: relative;


 }
 .languages{
position: absolute;
width: 100px;
list-style: none;
width: 90px;
height: 120px;
left:-5px ;
background-color: red;
border: 0.5px solid silver;
margin-top: 14px;
z-index: 90;


 }
 .languages ul li{
list-style: none;
margin-top: 15px; 

}
 .languages ul{

position: relative;
z-index: 100;  

}
#currency{
position: relative;
}
.currency-convert{
position: absolute;
width: 100px;
list-style: none;
width: 70px;
height: 120px;
left:-5px ;
background-color: red;
border: 0.5px solid silver;
margin-top: 14px;

 }
.currency-convert ul li{
list-style: none;
padding-top: 10px;
z-index: 100;   
}
 .none{
display: none;
z-index: 100;
 }

@media screen and (max-width:760px){
    .pandemiya{
        width: 100%;
    }
 .my-nav{
width: 100%;
 }

}
.bacola-logo img{
width: 140px;
height: 50px;
}
.logo-message{
    font-family: News Gothic Light;
    font-size: 10px;
    opacity: 0.5;
}
.trans{
    transition-duration: 5s;
}
.modal-message{
   color: #233a95;
    font-size: 12px;
    margin-right: 60px;


}
.modal-your-location{
    font-size: 10px;
    margin-right: 90px;
    opacity: 0.5;
} 

.my-modal{
border: 0.5px solid silver;
    width: 175px;
    height: 55px;
position: relative;
cursor: pointer;


}
.delivery-location{
position: fixed;
z-index: 99;
    width: 500px;
height: 450px;
top: 130px;
left: 550px;
padding-top: 20px;
padding-left: 20px;
font-family: News Gothic Light;
background-color: whitesmoke;


}
.delivery-icon{

position: absolute;
left: 460px;
top: 10px;
font-size: large;
cursor: pointer;

}
.location-message{

 font-family: News Gothic Light;
    font-size: small;
 color: black;
 opacity: 0.8;  
    }
.my-location-search{
width: 450px;
height: 40px;
margin-top: 20px;
margin-bottom: 20px;
background-color: white;

}
.delivery-search-input{
    position: relative;
    
}
.delivery-search-icon{
position: absolute;
bottom: 8px;
font-size: medium;
margin-left: 7px;

}
.my-delivery-ul{
margin-left: 20px;
width: 400px;
height: 300px;
overflow-x:hidden ;
background-color: white;
}
.my-delivery-ul li {
    margin-left: 20px;
 list-style: none;
border-bottom: 1px solid silver;
display: flex;
justify-content: space-between;
margin-top: 20px;
}
.my-delivery-ul li a{
font-size: small;
color: black;
text-decoration: none;

}
.my-delivery-ul li a:hover{
color: #233a95;

}
.li-click{
    border: 2px solid silver;
    border-radius: 25px;
    margin-top: 5px;
      margin-bottom: 5px;
margin-right: 25px;
background-color: white;
font-size: 8px;
width: 20x;
height: 20px;
padding: auto;
cursor: pointer;
}
.my-icon-down{
position: absolute;
left: 140px;
bottom: 20px;
font-size: small;
opacity: 0.8;

}
.my-search{
background-color: #f3f4f7;
position: relative;
height: 50px;
bottom: 10px;
}
.seach-icon{
font-size: 20px;
position: absolute;
left: 415px;
}
.person-coonect-icon {
 border:0.5px solid ;
 background-color: #fff;
 border-radius: 1000px;
 color:#c3c5ca ;
 height: 35px;
 width: 10px;
 padding: auto;

} 
.person-coonect-icon i{
margin-left: 2px;
color: black;
margin-top: 9px;

}
.basket-icon{
    border:0.5px ;
    background-color: #fff1ee;;
    border-radius: 1000px;
    color:#cfb5cf ;
    height: 35px;
    width: 10px;
    padding: auto;
}
.basket-icon i{
    color: red;
    margin-top: 9px;
    position: relative;
    }
.basket-count{
color: #c3c5ca;
background-color: red;
border-radius: 1000px;
position: absolute;
left: 43px;
bottom: 17px;
font-size: medium;
}
.all-categ{
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: var(--font-secondary);
    font-size: .9375rem;
    font-weight: 600;
    text-decoration: none;
    height: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #fff;
    background-color: #2bbef9;
    border-radius: 3.125rem;
}
.total-product{
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .625rem;
    letter-spacing: 0;
    text-transform: uppercase;
    white-space: nowrap;
    height: 1.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #71778e;
    background-color: #edeef5;
    border: 1px solid #fff;
    border-radius: 1.125rem;
    bottom: -0.5rem;
    margin-left: 1.125rem;

}
.categories{
font-size: small;

}
.my-coteg-li{

margin-left: 9px;
list-style: none;
padding: 15px;
border-radius: 20px;
font-family: News Gothic Light;
position: relative;

}
.my-coteg-li:hover{
background-color:  #c7e1ec


}
.my-coteg-li a{
color: black;
text-decoration: none;
}


.homes{
position: absolute;
top: 60px;
width: 170px;
right: -100px;
z-index: 20;
opacity: 0;
visibility: hidden;
background-color: white;
}
.homes ul {
padding: 10px;
padding-left: 20px;
padding-bottom: 30px;
}
.homes ul li{
list-style: none;
margin-top: 10px;

}
.home-li:hover .homes {
opacity: 1;
visibility: visible;

}
.shop{
position: relative;
}
.shop:hover .my-shop-ul{
    opacity: 1;
    visibility: visible;
}
.my-shop-ul {
    margin-top: 30px;
position: absolute;
width: 1500px;
display: flex;
justify-content: space-between;
height: 400px;
left: -650px;
padding-left: 250px;
padding-right: 250px;
padding-top: 50px;
padding-bottom: 50px;
z-index: 10;
background-color: white;
opacity: 0;
visibility: hidden;
}
.shop-ul{
margin-right: 50px;

}
.shop-ul li {
margin-top: 10px;
list-style: none;
}
.title-li{
margin-bottom: 20px;   
}
.carusel{
width: 100%;
height: 100%;
position: relative;
overflow: hidden;

}
.carusel .images-slider {
width: 200%;
height: 100%;
display: flex;
overflow: hidden;


}
.images-selider .item{
height: 100%;
width: 50%;
display: flex;
overflow-y: hidden;
}
.item img{
width: 100%;
}
.right{
position: absolute;
top: 200px;
left: 1470px;
font-size: 20px;
background-color: #c3c5ca;
border: 1px ;
border-radius: 100px;
cursor: pointer;
}
.left{
    cursor: pointer;
position: absolute;
top: 180px;

font-size: 20px;
background-color: #c3c5ca;
}
.categ-li{
list-style: none;
margin-bottom: 15px;
cursor: pointer;

}
.categ-li:hover{

color: #233a95;
}
.coteg-first-ul{
border-bottom: 1px solid silver;

}
.coteg-ul{
    position: absolute;
width: 250px;
height: 450px;
background-color:white;
z-index: 100;
left: 20px;
bottom: -450px;
padding: 25px;
}
.left-chevron{
float: right;
} 
.my-frits {
position: relative;

}
.my-frits:hover .frits-ul {
opacity:1 ;
visibility: visible;

}
.frits-ul{
background-color: white;
position: absolute;
width: 250px;
height: 450px;
left: 225px;
padding: 25px;
bottom: -405px;
z-index: 20;
opacity: 0;
visibility: hidden;
}
.frits-ul li{
    list-style: none;
    margin-bottom: 8px;
    cursor: pointer;
  color: black;
   cursor: pointer;

}
.frits-ul li:hover{
 color: #233a95;
}
.my-bevarages{
position: relative;

} 
.my-bevarages:hover .div-Bevarages{
visibility: visible;
opacity: 1;

} 
.div-Bevarages{
position: absolute ;
width: 250px;
height: 450px;
left: 225px;
padding: 25px;
bottom: -300px;
z-index: 20;
background-color: white;
visibility: hidden;
opacity: 0;

}
.div-Bevarages li{
margin-top: 10px;
list-style: none;

}