*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#section-login-register{
width: 75%;
height: 400px;
margin: 30px auto;
display: flex;
justify-content: space-between;
}
.login{
width: 48%;
height: 80%;


}
.register{
width: 48%;
height: 80%;
}
.my-form-check{
margin-right: 430px;
}
.my-login{
    background-color: #233a95;
    width: 140px;    
    }
    .my-login-form{
background-color: #f3f4f7

    }