*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#section-login-register{
width: 75%;
height: 700px;
margin: 30px auto;
display: flex;
justify-content: space-between;
}
.login{
width: 48%;
height: 80%;


}
.register{
width: 48%;
height: 80%;
}